<html ng-app="listaTelefonica">
<head>
	<meta charset="UTF-8">
	<title>Lista Telefonica</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<link rel="stylesheet" type="text/css" href="css/ui.css">
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-route.js"></script>
	<script src="lib/angular/angular-messages.js"></script>
	<script src="lib/serialGenerator/serialGenerator.js"></script>
	<script src="lib/ui/ui.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/listaTelefonicaCtrl.js"></script>
	<script src="js/controllers/novoContatoCtrl.js"></script>
	<script src="js/controllers/detalhesContatoCtrl.js"></script>
	<script src="js/services/contatosAPIService.js"></script>
	<script src="js/services/operadorasAPIService.js"></script>
	<script src="js/config/serialGeneratorConfig.js"></script>
	<script src="js/config/routeConfig.js"></script>
	<script src="js/config/interceptorsConfig.js"></script>
	<script src="js/value/configValue.js"></script>
	<script src="js/filters/nameFilter.js"></script>
	<script src="js/filters/ellipsisFilter.js"></script>
	<script src="js/filters/upperFilter.js"></script>
	<script src="js/directives/uiAlertDirective.js"></script>
	<script src="js/directives/uiDateDirective.js"></script>
	<script src="./js/interceptors/timestampinterceptor.js"></script>
	<script src="./js/interceptors/errorInterceptor.js"></script>
	<script src="./js/interceptors/loadingInterceptor.js"></script>
</head>
<body>
	<div class="jumbotron" ng-show="loading">
<h4>Carregando, por favor aguarde...</h4>
	</div>
	<!-- {{loading}} -->
	<div ng-hide="loading">
	<div ng-view></div>
		<!-- <button class="btn btn-primary" ng-click="showImage=!showImage">Show/Hide</button> -->
<!-- <div ng-show="showImage"> -->

<div class="jumbotron">
	{{app }}
	    <!-- <h3>{{message}}</h3> -->

     <!-- {{message2}} -->
    <!-- {{contatos}} -->
    <!-- {{$id}} -->

    <!-- <input type="text" ng-model="errado"> -->

    <!-- <div ui-alert></div> -->
    <!-- <ui-alert></ui-alert> -->
    <!-- <ui-alert title="Ops, aconteceu um problema!" message="errado"></ui-alert> -->
    <ui-alert ng-if="errado" title="Ops, aconteceu um problema!">
		{{errado}}
		<!-- {{$id}}
  Não foi possivel carregar os dados! -->
	  </ui-alert>
	  <ui-alert ng-if="errado" title="Série sobre AngularJs">
		Episodio 10 - Criando Diretivas - Parte 1
	  </ui-alert>
	  <!-- <div class="ui-alert">
		<div class="ui-alert-title">
		  Ops, aconteceu um problema!
		</div>
		<div class="ui-alert-message">
		  {{errado}}
		</div>
	  </div> -->
	  <ui-accordions>
		<ui-accordion title="Accordion 1">
		  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam nostrum, necessitatibus consectetur assumenda
		  doloribus quis dicta vitae, velit veniam, commodi qui deserunt? Dicta temporibus cumque inventore assumenda
		  quibusdam quisquam voluptatem?
		</ui-accordion>
  
		<ui-accordion title="Accordion 2">
		  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident magnam sapiente iure, vero soluta amet,
		  placeat dolorum dicta esse dolore voluptate obcaecati? Possimus cupiditate ullam aperiam distinctio, voluptatem
		  eos natus.
		</ui-accordion>
		<ui-accordion title="Accordion 3">
		  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident magnam sapiente iure, vero soluta amet,
		  placeat dolorum dicta esse dolore voluptate obcaecati? Possimus cupiditate ullam aperiam distinctio, voluptatem
		  eos natus.
		</ui-accordion>
		<ui-accordion title="Accordion 4">
		  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident magnam sapiente iure, vero soluta amet,
		  placeat dolorum dicta esse dolore voluptate obcaecati? Possimus cupiditate ullam aperiam distinctio, voluptatem
		  eos natus.
		</ui-accordion>
		<ui-accordion title="Accordion 5">
		  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident magnam sapiente iure, vero soluta amet,
		  placeat dolorum dicta esse dolore voluptate obcaecati? Possimus cupiditate ullam aperiam distinctio, voluptatem
		  eos natus.
		</ui-accordion>
	  </ui-accordions>
	 
	  <hr />
	<!-- <input class="form-control" type="text" ng-model="criterioDeBusca" ng-model-options="{updateOn: 'default'}" placeholder="O que você está buscando?"/> -->
	<input class="form-control" type="text" ng-model="criterioDeBusca" ng-model-options="{updateOn: 'default blur', debounce:{default: 500, blur: 0}}" placeholder="O que você está buscando?"/>
	<table ng-show="contatos.length > 0" class="table table-striped">
		<tr>
			<th></th>
			<th>Serial</th>
			<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
			<th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
			<th>Operadora</th>
			<th>Preço</th>
			<th>Data</th>
		</tr>
		<!-- <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao"> -->
		<!-- <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao track by $index"> -->
		<tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao track by contato.id">
			<td><input type="checkbox" ng-model="contato.selecionado" ng-click="verificarContatoSelecionado(contatos)"/></td>
			<td>{{::contato.serial}}</td>
			<!-- <td><a href="#/detalhesContato/{{contato.id}}">{{contato.nome | name}}</a></td> -->
			<!-- <td><a href="#/detalhesContato/{{contato.id}}">{{contato.nome | name}}</a></td> -->
			<td><a href="#/detalhesContato/{{::contato.id +1}}">{{contato.nome | name}}</a></td>
			<td>{{::contato.telefone}}</td>
			<td>{{::contato.operadora.nome}}</td>
			<!-- <td>{{contato.operadora.preco | currency}}</td> -->
			<!-- <td>{{(contato.operadora.preco * imposto) | currency}}</td> -->
			<!-- <td>{{calcularImposto(contato.operadora.preco) | currency}}</td> -->
			<td>{{::contato.operadora.precoComImposto | currency}}</td>
			<td>{{::contato.data | date:'dd/MM/yyyy'}}</td>
		</tr>
	</table>
	<div class=" row">
		<div class="col-md-6">
	<button class="btn btn-danger btn-block" ng-click="reset()">Reset</button>
</div>
<div class="col-md-6">
	<button class="btn btn-success btn-block" ng-click="showImage=!showImage">Show/Hide</button>
</div>
</div>

<div ng-if="showImage">
	<hr>
	<!-- <img src="../img/agilecode.png" alt=""> -->
	<img ng-src="../img/agilecode.png" alt="">
	</div>
	<hr/>
	<a class="btn btn-primary btn-block" href="#/novoContato">Novo Contato</a>
	<!-- <button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar Contatos</button> -->
	<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-if="hasContatoSelecionado">Apagar Contatos</button>
</div>
	<div ng-include="'view/footer.html'"></div>
</div>
</body>
</html>
